body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.text-hiding {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.header-nav {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.header-menu,
.contacts-social,
.search-sructure,
.catalog-list {
  list-style: none;
}
.header-menu a{
  color: #000000;
  font-weight: 700;
}
.header-menu a:hover{
  color: #81b3d2;
}
.header-menu a:active{
  opacity: 0.3;
}
.advantages,
.searching {
  text-align: center;
  background-color: #ffffff;
}
.first-screen {
  background-color: #ffffff;
  background-image: url("../img/background-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.advantages-title {
  font-size: 21px;
  line-height: 26px;
}
.advantages-item {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
}
.first-advantage .advantage-picture {
  background-image: url("../img/bg-adv-1.jpg");
  background-position: top right;
  background-repeat: no-repeat;
}
.second-advantage .advantage-picture {
  background-image: url("../img/bg-adv-2.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}
.advantage-common {
  width: 400px;
}
.advantage-picture {
  width: 800px;
}
.searching-title {
  font-size: 30px;
  line-height: 24px;
}
.last-features {
  background-color: #eeeeee;
}
.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.show-form-button {
  background-color: #766357;
}
.searching .show-form-button:hover {
  background-color: #604e43;
}
.searching .show-form-button:active {
  background-color: #503e33;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
}
.button-order {
  background-color: #766357;
}
.button-order:hover {
  background-color: #604e43;
}
.button-order:active {
  background-color: #503e33;
}
.catalog-list {
  background-color: #fefefe;
}
.catalog-title {
  font-size: 21px;
  font-weight: 700;
}
.catalog-title:hover {
  color: #81b3d2;
}
.catalog-title:active {
  color: #b2b2b2;
}
.rating-number {
  color: #666666;
  background-color: #f2f2f2;
}
.footer {
  background-color: #ffffff;
}
.contacts-hashtag {
  font-size: 21px;
  font-weight: 700;
}
.social-button {
  background-color: #81b3d2;
  background-position: center center;
  background-repeat: no-repeat;
}
.social-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.twitter {
  background-image: url("../img/twitter.svg");
}
.facebook {
  background-image: url("../img/fb-icon.svg");
}
.youtube {
  background-image: url("../img/youtube.svg");
}
